[Unit]
Description=Berrymse
BindsTo=dev-video0.device
After=dev-video0.device

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/berrymse/cmd/berryMSE
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/berrymse/cmd/berryMSE/armv7l/berrymse
Restart=always

[Install]
WantedBy=multi-user.target
